.menus{
    width: 90%;
    margin: 0 auto;
    max-width: 1300px;
    display: grid;
}

.loader{
    margin-top: 5em;
}


@media (min-width:720px) {
    .menus{
        grid-template-columns: 1fr 1fr;
        gap: 3em;
    }
    
}

@media (min-width:1000px) {
    .menus{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3em;
    }
}